body {
    background-color: #16181a;
    margin: 0;
/*    font-family: 'Open Sans', 'Tahoma', sans-serif;*/
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
    color: white;
    font-size: 18pt;
}

#head {
    display: flex;
    width: 90%;
    height: 60px;
    background-color: #42826D;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 20px 20px;
} 

#logo {
/*    font-family: 'DejaVu Sans Light';*/
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logo-pic {
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#logo-name {
    font-weight: 300;
    font-size: 28pt;
    margin-left: 10px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

#welcome {
/*    font-family: 'DejaVu Sans Light';*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#wchead {
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 64pt;
    text-align: center;
}

#wcscr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#sellingtext {
/*    font-family: 'DejaVu Sans';*/
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 50px;
}
